+# Project 1: Customer Database
**This is the first of three mandatory projects to be handed in as part of the assessment for the course 02807 Computational Tools for Data Science at Technical University of Denmark, autumn 2019.**

#### Practical info
- **The project is to be done in groups of at most 3 students**
- **Each group has to hand in _one_ Jupyter notebook (this notebook) with their solution**
- **The hand-in of the notebook is due 2019-10-13, 23:59 on DTU Inside**

#### Your solution
- **Your solution should be in Python**
- **For each question you may use as many cells for your solution as you like**
- **You should document your solution and explain the choices you've made (for example by using multiple cells and use Markdown to assist the reader of the notebook)**
- **You should not remove the problem statements, and you should not modify the structure of the notebook**
- **Your notebook should be runnable, i.e., clicking [>>] in Jupyter should generate the result that you want to be assessed**
- **You are not expected to use machine learning to solve any of the exercises**
- **You will be assessed according to correctness and readability of your code, choice of solution, choice of tools and libraries, and documentation of your solution**

## Introduction
Your team has been hired by the company X as data scientists. X makes gadgets for a wide range of industrial and commercial clients.

As in-house data scientists, your teams first task, as per request from your new boss, is to optimize business operations. You have decided that a good first step would be to analyze the companys historical sales data to gain a better understanding of where profit is coming from. It may also reveal some low hanging fruit in terms of business opportunities.

To get started, you have called the IT department to get access to the customer and sales transactions database. To your horror you've been told that such a database doens't exist, and the only record of sales transactions is kept by John from finance in an Excel spreadsheet. So you've emailed John asking for a CSV dump of the spreadsheet...

In this project you need to clean the data you got from John, enrich it with further data, prepare a database for the data, and do some data analysis. The project is comprised of five parts. They are intended to be solved in the order they appear, but it is highly recommended that you read through all of them and devise an overall strategy before you start implementing anything.

## Part 1: Cleaning the data
John has emailed you the following link to the CSV dump you requested.

- [transactions.csv](https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv)

It seems as though he has been a bit sloppy when keeping the records. 

In this part you should:
- Explain what the data is
- Clean it to prepare it for inserting into a database and doing data analysis

---
### Solution

Let us first import the packages and download the data. We only download it if we can't find it already in the directory.

In [19]:
import wget
import numpy as np
import pandas as pd
import os.path
import requests
import json
if not os.path.exists('transactions.csv'):
    link = 'https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv'
    wget.download(link)

We then take a look at the data, first by looking at the head, and then by considering the numeber of unique values and NaN's in each column.

In [3]:
data = pd.read_csv('transactions.csv')
print(data.head(n=10))

         part        company         country          city     price  \
0  54868-5165  Chatterbridge           Spain     Barcelona   784.79€
1  60505-2867           Lajo          Greece  Thessaloniki   187.99€
2   24385-268      Flipstorm          Greece        Athens   221.73€
3   76117-001    Twitterbeat          France        Annecy  1075.82€
4  44946-1046  Chatterbridge           Spain     Barcelona   412.55€
5   16729-167  Chatterbridge           Spain     Barcelona   359.52€
6   52125-444          Voomm          France         Paris   266.62€
7   43419-018       Buzzbean         Germany    Düsseldorf   103.45€
8   54092-515          Zooxo  United Kingdom        London   £704.94
9  24286-1562           Lajo          Greece  Thessaloniki   317.65€

                  date
0  2016-01-02 00:01:05
1  2016-01-02 00:05:26
2  2016-01-02 00:18:30
3  2016-01-02 02:32:30
4  2016-01-02 04:51:55
5  2016-01-02 07:20:59
6  2016-01-02 07:40:37
7  2016-01-02 08:57:57
8  2016-01-02 09:09:01
9  2016-01-02 11:01:32

We can see that the base of the price is not constant, shifting from EUR to GBP, which also changes the formatting. Note that the base in this case corresponds to the country, e.g United Kingdoms

In [4]:
print("Number of unique values for each column:")
print(data.nunique())
print("")
print("Number of NaN's for each column:")
print(data.isnull().sum(axis=0))
#print(data['city'].unique())

Number of unique values for each column:
part         100
company       35
country       13
city          30
price      19214
date       20552
dtype: int64

Number of NaN's for each column:
part         10
company       0
country    2171
city         33
price         1
date          0
dtype: int64
['Barcelona' 'Thessaloniki' 'Athens' 'Annecy' 'Paris' 'Düsseldorf'
 'London' 'Braga' 'Nanterre' 'Amadora\t' 'New York' 'Arnhem' 'Nice'
 'Lisbon' 'Amsterdam' 'Porto' 'Boston' 'Niihama' 'Almada' 'Aranhas'
 'Heraklion' 'Amiens' 'Patras' 'Arcueil' 'Lyon' 'Asaka' 'Champagnole'
 'Zürich' nan 'Monção' 'Vila Fria']

In [25]:
payload={'q': 'Copenhagen', 'type': 'json', 'username': 'peterbysted'}

r = requests.get('http://api.geonames.org/search', payload)

#r.json()
cities = json.loads(r.text)
print(cities)

{'status': {'message': 'user does not exist.', 'value': 10}}

In [51]:
def city_to_country(city):
    if str(city) == 'nan':
        return 'empty'
    if 'barcelona' in city.lower():
        return 'Spain'
    elif 'thessaloniki' in city.lower() or 'athens' in city.lower():
        return 'Greece'
    elif 'annecy' in city.lower() or 'paris' in city.lower() or 'nanterre' in city.lower() or 'nice' in city.lower() or \
    'nice' in city.lower() or 'amiens' in city.lower() or 'arcueil' in city.lower() or 'lyon' in city.lower() or \
    'champagnole' in city.lower():
        return 'France'
    elif 'thessaloniki' in city.lower() or 'athens' in city.lower() or 'heraklion' in city.lower() or 'patras' in city.lower():
        return 'Greece'
    elif 'braga' in city.lower() or 'amadora' in city.lower() or 'lisbon' in city.lower() or 'porto' in city.lower() \
    or 'almada' in city.lower() or 'aranhas' in city.lower() or 'monção' in city.lower() or 'vila fria' in city.lower():
        return 'Portugal'
    elif 'düsseldorf' in city.lower():
        return 'Germany'
    elif 'london' in city.lower():
        return 'United Kingdoms'
    elif 'new york' in city.lower() or 'boston' in city.lower():
        return 'USA'
    elif 'zürich' in city.lower():
        return 'Switzerland'
    elif 'amsterdam' in city.lower() or 'arnhem' in city.lower():
        return 'Netherlands'
    elif 'niihama' in city.lower() or 'asaka' in city.lower():
        return 'Japan'
for city in data['city'].unique():
    print(str(city) + ': ' + city_to_country(city))

Barcelona: Spain
Thessaloniki: Greece
Athens: Greece
Annecy: France
Paris: France
Düsseldorf: Germany
London: United Kingdoms
Braga: Portugal
Nanterre: France
Amadora	: Portugal
New York: USA
Arnhem: Netherlands
Nice: France
Lisbon: Portugal
Amsterdam: Netherlands
Porto: Portugal
Boston: USA
Niihama: Japan
Almada: Portugal
Aranhas: Portugal
Heraklion: Greece
Amiens: France
Patras: Greece
Arcueil: France
Lyon: France
Asaka: Japan
Champagnole: France
Zürich: Switzerland
nan: empty
Monção: Portugal
Vila Fria: Portugal

---
## Part 2: Enriching the data

A common task for a data scientists is to combine or enrich data from internal sources with data available from external sources. The purpose of this can be either to fix issues with the data or to make it easier to derive insights from the data.

In this part you should enrich your data with data from at least one external source. You may look to part 4 for some  inspiration as to what is required. Your solution should be automated, i.e., you can not ask the reader of your notebook to download any data manually. You should argue why and what you expect to achieve by the enrichments you are doing.

---
### Solution

In [109]:
print(data[data['country'].isna()])

             part        company country        city      price  \
2528   52380-1102        Teklist     NaN      Arnhem     357.78
2947    52125-136    Brainsphere     NaN       Braga    493.94€
2956    16714-295        Teklist     NaN      Arnhem     624.4€
2994    76335-006       Buzzbean     NaN  Düsseldorf    355.24€
3948    54473-578    Brainsphere     NaN       Braga    123.32€
3949   54973-9150    Twitterbeat     NaN      Annecy    893.86€
3950   41167-0843    Brainsphere     NaN       Braga     93.93€
3951    51060-032       Riffpath     NaN   Heraklion    665.09€
3952    37205-951       Buzzbean     NaN  Düsseldorf    257.66€
3953    37205-951  Chatterbridge     NaN   Barcelona    181.97€
3954   24286-1562          Ntags     NaN      Lisbon    296.17€
3955    76117-001    Twitterbeat     NaN      Annecy    769.82€
3956    54473-578      Flipstorm     NaN      Athens    129.67€
3957    76454-100       Buzzbean     NaN  Düsseldorf    178.24€
3958    0615-7679      Flipstorm     NaN      Athens    307.67€
3959    49967-724     Thoughtmix     NaN   Amadora\t    643.76€
3960   62011-0219     Thoughtmix     NaN   Amadora\t    726.23€
3961   48951-4042    Brainsphere     NaN       Braga    189.16€
3962   51531-9500         Roodel     NaN     Aranhas   1013.72€
3963    24385-268        Wordify     NaN    New York    $147.55
3964    67544-356    Twitterbeat     NaN      Annecy   1258.25€
3965   61398-0828          Yozio     NaN      Patras    345.68€
3966   55154-5057         Eimbee     NaN      Amiens    506.63€
3967    49738-105        Wordify     NaN    New York    $623.86
3968    68233-011        Gabcube     NaN      Almada    128.67€
3969    0603-6134        Gabcube     NaN      Almada    844.56€
3970    58596-001       Buzzbean     NaN  Düsseldorf    464.65€
3971    70253-307       Riffpath     NaN   Heraklion    920.78€
3972    54473-578          Yozio     NaN      Patras    181.88€
3973   60505-2867       Buzzbean     NaN  Düsseldorf    131.15€
...           ...            ...     ...         ...        ...
12823   68462-565     Thoughtmix     NaN         NaN    777.58€
12824   0603-6134          Yozio     NaN         NaN    775.05€
12825  58118-5060          Yozio     NaN         NaN    157.53€
12826   51060-032     Thoughtmix     NaN         NaN    176.36€
12827   16714-295    Twitterbeat     NaN         NaN    348.26€
12828   0603-6134          Ntags     NaN         NaN    714.66€
12829   52125-136          Zooxo     NaN         NaN    £616.08
12830   70253-307     Thoughtmix     NaN         NaN    880.07€
12831   49967-724          Ntags     NaN         NaN     593.0€
12832  54868-5165        Zoonder     NaN         NaN    $879.56
12833  65044-3014          Zooxo     NaN         NaN    £738.09
12834   51346-145    Brainsphere     NaN         NaN    939.35€
12835  36987-1697        Wordify     NaN         NaN     $371.3
12836  63629-2733        Teklist     NaN         NaN    236.48€
12837   49035-530        Teklist     NaN         NaN   1160.47€
12838  62670-4404    Shufflebeat     NaN         NaN    517.91€
12839   0185-0373     Thoughtmix     NaN         NaN   1007.71€
12840   49967-724     Thoughtmix     NaN         NaN    586.71€
12841   59779-601          Ntags     NaN         NaN     171.8€
12842   35356-325    Shufflebeat     NaN         NaN    436.67€
12843   49349-471          Ntags     NaN         NaN   1030.42€
12978   98132-889        Gabcube     NaN      Almada    143.36€
13721   49349-314  Chatterbridge     NaN   Barcelona    499.86€
14438   16590-177    Shufflebeat     NaN       Porto    386.81€
16146   58596-001        Wordify     NaN         NaN    $492.17
16147   36800-952     Thoughtmix     NaN         NaN    358.03€
16148   51346-126       Kanoodle     NaN         NaN  ¥15949.24
16149   49348-574     Thoughtmix     NaN         NaN    295.01€
16150   0228-2167          Zooxo     NaN         NaN    £682.83
16151   13537-259     Thoughtmix     NaN         NaN    865.37€

                      date
2528   2016-04-21 04:07:31
2947   2016-05-10 11:13:43
2956   2016-05-10 21:57:15
2994   2016-05-12 15:17:37
3948   2016-07-01 01:09:40
3949   2016-07-01 02:59:50
3950   2016-07-01 04:03:16
3951   2016-07-01 04:56:16
3952   2016-07-01 06:02:32
3953   2016-07-01 06:26:37
3954   2016-07-01 06:45:57
3955   2016-07-01 07:09:36
3956   2016-07-01 07:37:53
3957   2016-07-01 07:40:13
3958   2016-07-01 08:05:28
3959   2016-07-01 08:31:22
3960   2016-07-01 12:08:25
3961   2016-07-01 13:48:33
3962   2016-07-01 15:39:42
3963   2016-07-01 16:13:29
3964   2016-07-01 19:29:53
3965   2016-07-01 22:16:29
3966   2016-07-01 23:47:21
3967   2016-07-02 01:08:09
3968   2016-07-02 02:31:40
3969   2016-07-02 04:37:16
3970   2016-07-02 06:11:48
3971   2016-07-02 09:53:10
3972   2016-07-02 10:23:02
3973   2016-07-02 11:32:32
...                    ...
12823  2017-10-20 21:21:18
12824  2017-10-20 23:17:59
12825  2017-10-20 23:49:53
12826  2017-10-21 00:11:55
12827  2017-10-21 01:24:52
12828  2017-10-21 01:53:26
12829  2017-10-21 04:26:42
12830  2017-10-21 06:19:34
12831  2017-10-21 08:04:12
12832  2017-10-21 09:35:27
12833  2017-10-21 10:17:08
12834  2017-10-21 15:06:59
12835  2017-10-21 15:59:29
12836  2017-10-21 17:14:47
12837  2017-10-21 22:49:57
12838  2017-10-22 02:54:15
12839  2017-10-22 04:16:08
12840  2017-10-22 04:34:36
12841  2017-10-22 05:00:42
12842  2017-10-22 05:10:16
12843  2017-10-22 07:11:01
12978  2017-10-29 08:07:34
13721  2017-12-10 18:18:06
14438  2018-01-20 05:04:30
16146  2018-04-26 08:00:25
16147  2018-04-26 08:16:56
16148  2018-04-26 16:21:00
16149  2018-04-26 19:16:45
16150  2018-04-26 22:20:00
16151  2018-04-26 22:34:15

[2171 rows x 6 columns]

In [127]:
cities = pd.read_json('https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/master/cities.json')
countries = pd.read_json('https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/master/countries.json')

head()

   country_id  id               name  state_id
0           1   1          Eshkashem         1
1           1   2           Fayzabad         1
2           1   3               Jurm         1
3           1   4            Khandud         1
4           1   5  Qal\'eh-ye Panjeh         1

NameError: name 'country_id' is not defined

In [151]:
#print(countries.head())
cph = cities[cities['name'] == 'Copenhagen']['country_id'].item()

print(countries[countries['id'] == 45])
def getCountry(city):
        return 'jeff'
data_cleaned = data
for index, city in data[data['country'].isna()]['city'].iteritems():
    data_cleaned.loc[index,'country'] = getCountry(city)
print(data_cleaned.loc[3964,'country'])

     capital currency  id iso2 iso3            name phone_code
0      Kabul      AFN   1   AF  AFG     Afghanistan         93
1  Mariehamn      EUR   2   AX  ALA   Aland Islands    +358-18
2     Tirana      ALL   3   AL  ALB         Albania        355
3    Algiers      DZD   4   DZ  DZA         Algeria        213
4  Pago Pago      USD   5   AS  ASM  American Samoa     +1-684
    capital currency  id iso2 iso3   name phone_code
44  Beijing      CNY  45   CN  CHN  China         86
jeff

 ---
## Part 3: Creating a database
Storing data in a relational database has the advantages that it is persistent, fast to query, and it will be easier access for other employees at Weyland-Yutani.

In this part you should:
- Create a database and table(s) for the data
- Insert data into the tables

You may use SQLite locally to do this. You should argue why you choose to store your data the way you do.

---
### Solution

---
## Part 4: Analyzing the data
You are now ready to analyze the data. Your goal is to gain some actionable business insights to present to your boss. 

In this part, you should ask some questions and try to answer them based on the data. You should write SQL queries to retrieve the data. For each question, you should state why it is relevant and what you expect to find.

To get you started, you should prepare answers to the following questions. You should add more questions.
#### Who are the most profitable clients?
Knowing which clients that generate the most revenue for the company will assist your boss in distributing customer service ressources.

#### Are there any clients for which profit is declining?
Declining profit from a specific client may indicate that the client is disatisfied with the product. Gaining a new client is often much more work than retaining one. Early warnings about declining profit may help your boss fighting customer churn.


Remember, you are taking this to your new boss, so think about how you present the data.

---
### Solution

---
## Part 5: Performance
Your boss is very impressed with what you have achieved in less than two weeks, and he would like to take your idea of storing the customer and sales data in a relational database to production. However, John is concerned that the solution will not scale. His experience is telling him that you will see many occurrences of the following queries.

- Show all sales to company X between time $t_1$ and time $t_2$
- Show the latest X sales in the database
- Show total sales per company per day

Show that Johns concern is not justified.

---
### Solution

---